body{
	margin:0 auto;
	color: #FFFFFF;
	background-color: #000000;
}
a{
	color: rgb(204,255,255);
	
	}
.menu0 {
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
	background-color: #099;
	text-align: left;

	//background-image: url(filesDFI/title-1.png);
	border: 2px none #9CC;
	padding: 0px;
}
.HomeMenu0 {
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
	background-color: #000000;
	text-align: left;
	background-image: url(filesDFI/title-1.png);
	padding-top: 60px;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 10px;
	border-left-width: 2px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #9CC;
	border-right-color: #9CC;
	border-bottom-color: #9CC;
	border-left-color: #9CC;
	padding-bottom: 0px;
}
.imgfield {
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #CCC;
	text-decoration: none;
	background-color: #333;
	border: 2px solid #FFF;
	text-align: center;
	padding: 0px;
}
.divabout {
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
	background-color: #000;
	border: 2px solid #9CC;
	text-align: center;
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 5px;
	padding-left: 20px;
}
.divdark {
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
	background-color: #000;
	border: 2px solid #9CC;
	text-align: left;
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 5px;
	padding-left: 20px;
}
.divlight {
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #CCC;
	text-decoration: none;
	background-color: #000;
	border: 2px solid #9CC;
	text-align: left;
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 5px;
	padding-left: 20px;
}
.titleBtn {
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	color: #FFF;
	text-decoration: underline;
	background-color: #099;
	border: 2px solid #9CC;
	text-align: center;
	width: 80px;
}
.menu1 {
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #FFF;
	text-decoration: underline;
	background-color: rgba(0,0,0,0.5);
	border: 2px solid #9CC;
	text-align: center;
}
.left {
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	color: #FFF;
	text-decoration: underline;
	background-color: #099;
	border: 2px solid #9CC;
	text-align: center;
	width: 400px;
	float: left;
}
.left2 {
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	color: #FFF;
	text-decoration: underline;
	background-color: #099;
	border: 2px solid #9CC;
	text-align: center;
	float: left;
}
.right {
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	color: #FFF;
	text-decoration: underline;
	background-color: #099;
	border: 2px solid #9CC;
	text-align: center;
	float: left;
	position: relative;
	right: 0px;
	bottom: auto;
	width: 40%;
	font-variant: normal;
}
.bd {
	width: 600px;
	text-align: center;
	float: left;
	margin: 0;
}
.rtm{
	margin: auto;
	text-align: center;
	color: #FFF;
	width: 800px;
}
